<div *ngIf="true">
    <ul #logout>
        <li>
            <a routerLink='home'><img src="assets/image/test2.ico" width=40px></a>
        </li>
        <li><a routerLink="contact">Contact</a></li>
        <li><a routerLink="About">about</a></li>
        <li><a routerLink="Das">Help</a></li>

        <li style="float:right">
            <a class="active" routerLink="Register"><img src="assets/image/test3.png" width="40px"></a>
        </li>
        <li style="float:right">
            <a class="active" routerLink="login"><img src="assets/image/test4.png" width="40px"></a>
        </li>

    </ul>
</div>
<div *ngIf="false">
    <ul #login>
        <li>
            <a routerLink='home'><img src="assets/image/test2.ico" width=40px></a>
        </li>
        <li><a routerLink="alltest">All Test</a></li>

        <div class="dropdown2">
            <li><a>certificate</a>
                <div class="dropdown-content2">
                    <a routerLink="Cert">Cert History</a>
                    <a routerLink="result">my Cert & Result</a>
                </div>
            </li>
        </div>
        <li><a routerLink="contact">Contact</a></li>
        <li><a routerLink="About">about</a></li>
        <div class="dropdown3">
            <li style="float:right">
                <a class="active" routerLink="login"><img src="assets/image/ac.png" width="40px"></a>
                <div class="dropdown-content3">

                    <a routerLink="Profile">Profile</a>
                    <a routerLink="login">logout</a>
                </div>
            </li>
        </div>
    </ul>
</div>
<div>
    <router-outlet></router-outlet>
</div>