ul {
    background-color: lightblue;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    size: 20px;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}