<h1>
    Free test system</h1>

<div class="gallery">
    <a target="_blank">
        <img src="assets/image/work1.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Online exams that can be used anywhere</div>
</div>

<div class="gallery">
    <a target="_blank">
        <img src="assets/image/work2.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Made simple and does not require a deep understanding.</div>
</div>

<div class="gallery">
    <a target="_blank">
        <img src="assets/image/work3.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">After completing the test, the certificate will be issued immediately.</div>
</div>
<div>
    <router-outlet></router-outlet>
</div>