<h1>Register</h1>
<form class="login-form">
    <p class="login-text">

    </p>
    <input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" />
    <input type="password" class="login-password" required="true" placeholder="Password" />
    <input type="password" class="login-password" required="true" placeholder=" People ID" />
    <input type="date" class="login-password" required="true" placeholder=" Date of birth" />
    <input type="submit" name="Login" value="Register" class="login-submit" />
</form>

<div class="underlay-photo"></div>
<div class="underlay-black"></div>